@use './variables' as *;

.doughnutChart {
    background-color: $background-card-color;
    padding: 16px;
    border-radius: 32px;

    .categoryBox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: start;
        font-size: $rem1;

        .item {
            cursor: pointer;
            padding: 8px;
            background-color: transparent;
            transition: background-color 0.5s;
            border-radius: 8px;

            &:hover {
                background-color: $background-card-hover-color;
            }
        }
    }
}

#chart-tooltip {
    position: absolute;
    z-index: 999;
    pointer-events: none;
    color: $main-text-color;
    padding: 8px;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: rgba($color: $background-color, $alpha: 0.5);
    border: 2px $background-color solid;
}

.barCharts {
    width: 100%;
    max-height: 400px;
    background-color: $background-card-color;
    padding: 16px;
    border-radius: 32px;
}

.titleText {
    color: $main-text-color;
    font-size: $rem1_5;
    font-weight: 500;
}

.chart.bar {
    width: 100%;
}