@use './variables' as *;

nav {
    padding: 12px;
    min-width: 370px;
    width: 370px;
    height: 100%;
    background-color: $background-card-color;

    a, button {
        transition: all 0.5s;
        padding: 8px 16px;
        display: flex;
        align-items: center;
        gap: 8px;
        color: $second-text-color;
        align-items: center;
        width: 100%;
        font-weight: 600;
        font-size: $rem1;
        line-height: 1.5;
        background-color: transparent;
        border-radius: 12px;

        &:hover {
            background-color: $main-color-hover;
            color: $background-card-color;
           
            svg {
                transform: rotate(-30deg);
            }
        }
    }

    a.active {
        background-color: $main-color;
        color: $background-card-color;
    }

    .logOutButton {
        color: $red;

        &:hover {
            color: $red;
            background-color: $red-hover;
        }
    }

    .bottomLinksBox {
        button {
            color: $second-text-color;

            &:hover {
                color: $background-card-color;
                background-color: $second-text-color-hover;
            }
        }
    }
}