@use './variables' as *;

.main_content.transactions {
    .addTransactionButton {
        position: fixed;
        bottom: 16px;
        right: 16px;

        svg {
            width: 36px;
            height: 36px;
        }

        color: $background-card-color;
        background-color: $main-color;
        padding: 8px;
        border-radius: 100%;
        transition: all 0.5s;

        &:hover {
            background-color: $main-color-hover;

            svg {
                transform: scale(1.1);
            }
        }
    }

    .titleText {
        font-weight: 500;
    }

    .balance {
        font-weight: 400;

        .value {
            color: $main-color;
            font-weight: 600;
        }
    }

    .mounthNameBox {
        width: 100%;
        
        .monthName {
            text-transform: capitalize;
            color: $second-text-color;
        }

        .plug {
            height: 2px;
            width: 100%;
            background-color: $second-text-color;
        }
    }

    .transaction {
        width: 100%;
        cursor: pointer;
        
        .transactionContent  {
            align-items: center;
            background-color: $background-card-color;
            padding: 8px;
            border-radius: 16px;
            transition: all 0.5s;

            &:hover {
                background-color: $background-card-hover-color;
            }

            .transactionInfo {
                align-items: center;

                .transactionTextInfo {
                    .nameText {
                        color: $main-text-color;
                        font-weight: 400;
                    }

                    .categoryText {
                        color: $second-text-color;
                        font-weight: 400;
                    }
                }
            }

            .transactionCount {
                font-weight: 500;
            }

            .transactionCount.positive {
                color: rgba($color: #11FF00, $alpha: 0.5);
            }

            .transactionCount.negative {
                color: rgba($color: #FF0004, $alpha: 0.5);
            }
        }

        .editTransactionBox {
            cursor: auto;
            align-items: center;
            padding: 0px 8px;

            .circle {
                width: 4px;
                height: 4px;
                border-radius: 10px;
                background-color: $second-text-color;
            }

            button {
                padding: 2px;
                font-weight: 500;
                color: $second-text-color;
                transition: all 0.5s;

                &:hover {
                    color: $second-text-color-hover;
                }
            }

            .deleteTransactionButton {
                color: $red;

                &:hover {
                    color: $red-hover;
                }
            }
        }
    }

    .categoryList {
        max-width: 100%;
        align-items: start;
        justify-content: start;
        flex-wrap: wrap;
    }

    .category {
        background-color: $background-color;
        padding: 4px 12px;
        border-radius: 12px;
        width: fit-content;
        cursor: pointer;
        transition: all 0.5s;

        span {
            transition: all 0.5s;
            color: $second-text-color;
        }

        &:hover {
            background-color: $main-color-hover;
            
            span {
                color: $background-card-color;
            }
        }
    }

    .category.active {
        background-color: $main-color;
        
        span {
            color: $background-card-color;
        }
    }

    .createNewCategoryInput {
        align-items: center;
        border-radius: 12px;
        background-color: $background-color;
        padding: 4px 4px 4px 12px;

        input {
            color: $main-text-color;
        }

        button {
            padding: 4px;
            &:hover {
                svg {
                    transform: rotate(30deg);
                    color: $main-color-hover;
                }
            }

            svg {
                color: $main-color;
            }
        }
    }

    .addTransactionMenu {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: rgba($color: #000000, $alpha: 0.3);
        backdrop-filter: blur(6px);

        .formHeader {
            align-items: center;
            padding: 0px 8px;
            margin-bottom: 8px;

            .titleText {
                color: $second-text-color;
            }

            button {
                padding: 0px;
                transition: all 0.5s;
                
                svg {
                    color: $second-text-color;
                }

                &:hover {
                    transform: scale(1.2);
                    
                    svg {
                        color: $second-text-color-hover;
                    }
                }
            }
        }

        .newTransactionForm, .categoryForm {
            min-height: 310px;
            max-width: 370px;
            min-width: 370px;
            padding: 16px;

            .nameBox, .countBox {
                padding: 0;

                .descrptionLabel {
                    color: $second-text-color;
                }

                label {
                    padding: 0px 8px;
                }

                input {
                    color: $main-text-color;
                    border-radius: 12px;
                    padding: 8px;
                    background-color: $background-color;

                    &::placeholder {
                        color: $second-text-color;
                    }
                }
            }

            .categoryHeader {
                padding: 0px 8px;
                width: 100%;
                align-items: center;

                button {
                    padding: 0;
                    transition: all 0.5s;

                    svg {
                        color: $main-text-color;
                    }

                    &:hover {
                        transform: scale(1.2);
                        
                        svg {
                            color: $main-color-hover;
                        }
                    }
                }
            }

            .chooseCategory {
                // padding: 8px;
                
                .placeholder {
                    border-radius: 12px;
                    padding: 8px;
                    background-color: $background-color;
                }
            }

            .buttonsBox {
                width: 100%;

                button {
                    font-weight: 500;
                    transition: all 0.5s;
                    border-radius: 12px;
                }

                .addNewTransactionButton {
                    color: $background-card-color;
                    width: 100%;
                    background-color: $main-color;

                    &:hover {
                        background-color: $main-color-hover;
                    }
                }

                .cancelButton {
                    color: $red;
                    
                    &:hover {
                        background-color: $red-hover;
                    }
                }
            }

            .myCategoriesText {
                padding: 0px 8px;
            }

            .createCategoryButton {
                width: 100%;
                background-color: $background-color;
                border-radius: 12px;
                color: $main-text-color;
                transition: all 0.5s;

                &:hover {
                    background-color: $main-color-hover;
                }
            }
        }
    }

    .allTransactionsList {
        padding-right: 8px;
        overflow-y: scroll;
    }

    .allTransactionsList::-webkit-scrollbar {
        width: 4px;
    }

    .allTransactionsList::-webkit-scrollbar-track {
        background: transparent;
    }
    .allTransactionsList::-webkit-scrollbar-thumb {
        background-color: $main-color;
        border-radius: 20px;
        border: none;
    }
}