@use './variables' as *;

.transaction {
        width: 100%;
        cursor: pointer;
        
        .transactionContent  {
            align-items: center;
            background-color: $background-card-color;
            padding: 8px;
            border-radius: 16px;
            transition: all 0.5s;

            &:hover {
                background-color: $background-card-hover-color;
            }

            .transactionInfo {
                align-items: center;

                .transactionTextInfo {
                    .nameText {
                        color: $main-text-color;
                        font-weight: 400;
                    }

                    .categoryText {
                        color: $second-text-color;
                        font-weight: 400;
                    }
                }
            }

            .transactionCount {
                font-weight: 500;
            }

            .transactionCount.positive {
                color: rgba($color: #11FF00, $alpha: 0.5);
            }

            .transactionCount.negative {
                color: rgba($color: #FF0004, $alpha: 0.5);
            }
        }

        .editTransactionBox {
            cursor: auto;
            align-items: center;
            padding: 0px 8px;

            .circle {
                width: 4px;
                height: 4px;
                border-radius: 10px;
                background-color: $second-text-color;
            }

            button {
                padding: 2px;
                font-weight: 500;
                color: $second-text-color;
                transition: all 0.5s;

                &:hover {
                    color: $second-text-color-hover;
                }
            }

            .deleteTransactionButton {
                color: $red;

                &:hover {
                    color: $red-hover;
                }
            }
        }
    }