@use './variables' as *;

.main_content.transactions {
    .addTransactionButton {
        position: fixed;
        bottom: 16px;
        right: 16px;

        svg {
            width: 36px;
            height: 36px;
        }

        color: $background-card-color;
        background-color: $main-color;
        padding: 8px;
        border-radius: 100%;
        transition: all 0.5s;

        &:hover {
            svg {
                transform: scale(1.1);
            }
            background-color: rgba($color: $main-color, $alpha: 0.5);
        }
    }

    .titleText {
        font-weight: 500;
    }

    .mounthNameBox {
        width: 100%;
        
        .monthName {
            text-transform: capitalize;
            color: $second-text-color;
        }

        .plug {
            height: 2px;
            width: 100%;
            background-color: $second-text-color;
        }
    }

    .transaction {
        width: 100%;
        cursor: pointer;
        
        .transactionContent  {
            align-items: center;
            background-color: $background-card-color;
            padding: 8px;
            border-radius: 16px;

            .transactionInfo {
                align-items: center;

                .transactionTextInfo {
                    .nameText {
                        color: $main-text-color;
                        font-weight: 400;
                    }

                    .categoryText {
                        color: $second-text-color;
                        font-weight: 400;
                    }
                }
            }

            .transactionCount {
                font-weight: 500;
            }

            .transactionCount.positive {
                color: rgba($color: #11FF00, $alpha: 0.5);
            }

            .transactionCount.negative {
                color: rgba($color: #FF0004, $alpha: 0.5);
            }
        }

        .editTransactionBox {
            cursor: auto;
            align-items: center;
            padding: 0px 8px;

            .circle {
                width: 4px;
                height: 4px;
                border-radius: 10px;
                background-color: $second-text-color;
            }

            button {
                font-weight: 500;
                color: $second-text-color;
                transition: all 0.5s;

                &:hover {
                    color: rgba($color: $second-text-color, $alpha: 0.7);
                }
            }

            .deleteTransactionButton {
                color: $red;

                &:hover {
                    color: rgba($color: $red, $alpha: 0.7);
                }
            }
        }
    }
}